<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product Inventory</title>
</head>
<body>
<div>
    <h1>Product Inventory</h1>
    <table>
        <thead>
        <tr>
            <th>Select</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td>
                <input type="radio" name="selectedProduct" th:value="${product.product_Id}">
            </td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productDescription}"></td>
            <td th:text="${product.productStock}"></td>
            <td th:text="${product.productPrice}"></td>
            <td th:text="${product.productType}"></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/staff/product/new}" method="get">
        <input type="submit" value="Add Product"/>
    </form>
    <br>
    <form th:action="@{/staff/home_staff}" method="get">
        <input type="submit" value="Back"/>
    </form>
</div>
</body>
</html>
