<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Invoices</title>
</head>
<body>
<h1>Invoices</h1>

<table>
    <thead>
    <tr>
        <th>Total Items</th>
        <th>Price</th>
        <th>Order Number</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.items.size()}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td th:text="${order.orderNumber}"></td>
        <td th:text="${order.orderDate}"></td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{/user/home_user}" method="get">
    <input type="submit" value="Back"/>
</form>
</body>
</html>